# Python
*.pyc
*.pyo
*.pyd
*.env
*.egg
*.egg-info
*.eggs
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.sqlite3  # Ignorar cualquier archivo de base de datos SQLite
/media
/staticfiles
/.venv
*.log

# Unit test / coverage reports
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
ENV/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
__pycache__/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*~
*.sublime-workspace
*.sublime-project

# Static and media files
/static/
# Use this if you are using Django Compressor
/compressed/

# Local development
.env.local
.env.*.local
